@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");

body {
  line-height: 1.8;
  color: #898fa1;
  font-size: 15px;
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #11245a;
}

a {
  font-weight: 700;
  transition: all 0.4s ease;
}
img {
  width: 100%;
}
small {
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 700;
}
section {
  padding-top: 100px;
  padding-bottom: 100px;
}
.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.31);
}
.logo-text {
  font-size: 22px;
  text-transform: uppercase;
  color: #11245a !important;
}
.navbar .nav-link {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.navbar-light .navbar-nav .nav-link.active {
  color: #a82828;
}
#Home {
  background: linear-gradient(rgba(26, 23, 23, 0.829), rgba(36, 34, 34, 0.692)),
    url(./jumbotron.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}

#Home h1 {
  font-weight: 600;
}
#Home p {
  max-width: 550px;
  margin: 17px auto;
}
.btn {
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  padding: 12px 28px;
  border-radius: 0;
}

.btn-brand {
  background-color: #11245a;
  color: #fff;
}
.btn-brand:hover {
  background-color: #a82828;
  color: #fff;
}
.section-intro {
  text-align: center;
}
.section-intro .hline {
  width: 70px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.267);
  margin: 16px auto 0 auto;
}
.lingkaran {
  display: inline-block;
  border-radius: 50%;
  width: 150px;
  margin: auto;
  height: 150px;
  color: #fff;
  background-color: #a82828;
}
.lingkaran i {
  position: relative;
  top: 35px;
}
.lingkaran img {
  position: relative;
  width: 100px;
  top: 35px;
}

.gallery-item {
  overflow: hidden;
  position: relative;
}
.gallery-item img,
.gallery-item .gallery-overlay {
  transition: all 0.4s ease;
}
.gallery-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 36, 90, 0.781);
  display: flex;
  align-items: flex-end;
  padding: 30px;
  opacity: 0;
}
.gallery-overlay h3,
.gallery-overlay h6 {
  color: #fff;
}
.gallery-item:hover .gallery-overlay {
  opacity: 1;
}
.gallery-item:hover img {
  transform: scale(1.1);
}

/* footer  */
.site-footer {
  padding: 5em 0;
  background: #a82828;
  font-size: 14px;
  color: #fff;
}
.site-footer p:last-child {
  margin-bottom: 0;
}
.site-footer a {
  color: #ffc107;
  border-bottom: 1px solid transparent;
}
.site-footer a:hover {
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.site-footer h3 {
  font-size: 15px;
  margin-bottom: 28px;
  letter-spacing: 0.5em;
  color: #fff;
}
.site-footer .footer-link li {
  line-height: 1.5;
  margin-bottom: 15px;
}
.footer-social a {
  line-height: 0;
  border-radius: 50%;
  margin: 0 5px 5px 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 30px;
  height: 30px;
  text-align: center;
  display: inline-block;
}
.footer-social a:hover {
  background: #fff;
  border-color: #fff;
  color: #000;
}
.footer-social .fa-brands {
  margin-top: 6px;
}
